.product_card {
    width: 217px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.product_card:hover {
    box-shadow: 0 2px 17px 0 rgb(0 0 0/10%);
}

.product_card__image {
    width: 100%;
}
.product_card__title {

}
.product_card__price{
    font-weight: bold; 
}