.product_left_side {
    display: flex;
    margin-right: 32px;
}
.product_tools {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}
.product_tools > div {
    cursor: pointer;
}
.product_image {
    width: 500px;
}
.product_image> img {
    width: 100%;
}
.product_details {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}
.product_description {
    flex-grow: 1;
}
.product_seller {
    background-color: lightgray;
    width: 400px;
    border-radius: 25px;
    padding: 15px;
    position: relative;
}
.product_add_to_cart {
    height: 44px;
    width: 370px;
    background-color: #ee4d4e;
    border: none;
    box-shadow: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
    position: absolute;
    bottom: 40px;
    left: 15px;
    right: 15px;
    cursor: pointer;
}